@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&subset=latin-ext')
@font-face
	font-family: 'icomoon'
	src: url('../fonts/sprite/icomoon.eot?srir47')
	src: url('../fonts/sprite/icomoon.eot?srir47#iefix') format('embedded-opentype'), url('../fonts/sprite/icomoon.ttf?srir47') format('truetype'), url('../fonts/sprite/icomoon.woff?srir47') format('woff'), url('../fonts/sprite/icomoon.svg?srir47#icomoon') format('svg')
	font-weight: normal
	font-style: normal