//- layout

doctype html
html(lang="en")

	head
		include ../includes/base/head-content

		block scripts

			script(
				src="dist/js/libs/jquery.min.js" )

	- var bodyClass = ''

	block vars

	body( class=bodyClass )

		block content