extends extends/layout


block content

	+b-nav( 'Download' )

	.l-content-wrapper.l-content-wrapper_nav.c-scroll

		.l-content-wrapper__item.l-content-wrapper__item_major

			.b-content

				.-ol-container

					h1 Download

					p Caw.me has an integration with #[em Slack] that allows you to launch HD conferences in your chat. Type in the command #[strong /voice] to start a conference on any device.



					ul.b-link-list.-ol-row

						.-ol-col-4

							li.b-link-list__item

								.l-cell
									.l-cell__item

										.b-link-list__title Prod

								a.b-link-list__link Copy

						.-ol-col-4

							li.b-link-list__item

								.l-cell
									.l-cell__item

										.b-link-list__title Stage

								a.b-link-list__link Copy

						.-ol-col-4

							li.b-link-list__item

								.l-cell
									.l-cell__item

										.b-link-list__title Test

								a.b-link-list__link Copy

					ul.b-link-list.b-link-list_last.-ol-row

						.-ol-col-4

							li.b-link-list__item

								.l-cell
									.l-cell__item

										.b-link-list__title Dev

								a.b-link-list__link Copy

						.-ol-col-4

							li.b-link-list__item

								.l-cell
									.l-cell__item

										.b-link-list__title App Store

								a.b-link-list__link Copy

						.-ol-col-4

							li.b-link-list__item

								.l-cell
									.l-cell__item

										.b-link-list__title Play Market

								a.b-link-list__link Copy



block append scripts

	script(
		src="dist/js/specific/app.js" )