extends extends/layout



block content

	+b-nav( 'document' )

	.b-subnav.c-scroll

		.b-subnav__heading Clique Client JS SDK

		.b-subnav__list

			.b-subnav__list-item
				a.b-subnav__link( href="#!" ) Developer Overview

			.b-subnav__list-item
				.b-subnav__sublist

					.b-subnav__sublist-item
						a.b-subnav__link( href="#!" ) Client

					.b-subnav__sublist-item
						a.b-subnav__link( href="#!" ) Application Server

					.b-subnav__sublist-item
						a.b-subnav__link( href="#!" ) API Key &amp; Session Token

					.b-subnav__sublist-item
						a.b-subnav__link( href="#!" ) Step-by-step

			.b-subnav__list-item
				a.b-subnav__link( href="#!" ) Installing

			.b-subnav__list-item
				a.b-subnav__link( href="#!" ) Setting Up

			.b-subnav__list-item
				a.b-subnav__link( href="#!" ) Using CliqueClient

			.b-subnav__list-item
				.b-subnav__sublist

					.b-subnav__sublist-item
						a.b-subnav__link( href="#!" ) Create instance

					.b-subnav__sublist-item
						a.b-subnav__link( href="#!" ) Data types

					.b-subnav__sublist-item
						a.b-subnav__link( href="#!" ) Instance methods

					.b-subnav__sublist-item
						.b-subnav__sublist

							.b-subnav__sublist-item
								a.b-subnav__link( href="#!" ) Conference methods

							.b-subnav__sublist-item
								.b-subnav__sublist

									.b-subnav__sublist-item
										a.b-subnav__link( href="#!" ) create(options)

									.b-subnav__sublist-item
										a.b-subnav__link( href="#!" ) join(id)

									.b-subnav__sublist-item
										a.b-subnav__link( href="#!" ) leave()

									.b-subnav__sublist-item
										a.b-subnav__link( href="#!" ) localMute()

									.b-subnav__sublist-item
										a.b-subnav__link( href="#!" ) localUnmute()

									.b-subnav__sublist-item
										a.b-subnav__link( href="#!" ) isMuted()

									.b-subnav__sublist-item
										a.b-subnav__link( href="#!" ) localVolume([volume])

									.b-subnav__sublist-item
										a.b-subnav__link( href="#!" ) userMute(uuid) - Moderator only

									.b-subnav__sublist-item
										a.b-subnav__link( href="#!" ) userUnmute(uuid) - Moderator only

									.b-subnav__sublist-item
										a.b-subnav__link( href="#!" ) userKick(uuid) - Moderator only

									.b-subnav__sublist-item
										a.b-subnav__link( href="#!" ) recordingStart(options) - Moderator only

									.b-subnav__sublist-item
										a.b-subnav__link( href="#!" ) recordingStop() - Moderator only

									.b-subnav__sublist-item
										a.b-subnav__link( href="#!" ) getRecordingById(recordingId)

									.b-subnav__sublist-item
										a.b-subnav__link( href="#!" ) lock() - Moderator only

									.b-subnav__sublist-item
										a.b-subnav__link( href="#!" ) unlock() - Moderator only

									.b-subnav__sublist-item
										a.b-subnav__link( href="#!" ) setGrace(period) - Moderator only

									.b-subnav__sublist-item
										a.b-subnav__link( href="#!" ) id()

									.b-subnav__sublist-item
										a.b-subnav__link( href="#!" ) on(event_name, event_callback)

									.b-subnav__sublist-item
										a.b-subnav__link( href="#!" ) off(event_name)

									.b-subnav__sublist-item
										a.b-subnav__link( href="#!" ) users()

									.b-subnav__sublist-item
										a.b-subnav__link( href="#!" ) invite(contacts, options)

							.b-subnav__sublist-item
								a.b-subnav__link( href="#!" ) SimpleCall methods

							.b-subnav__sublist-item
								.b-subnav__sublist

									.b-subnav__sublist-item
										a.b-subnav__link( href="#!" ) dial(number, [options])

									.b-subnav__sublist-item
										a.b-subnav__link( href="#!" ) hangup()

							.b-subnav__sublist-item
								a.b-subnav__link( href="#!" ) User methods

							.b-subnav__sublist-item
								.b-subnav__sublist

									.b-subnav__sublist-item
										a.b-subnav__link( href="#!" ) updateConferenceSettings(options)

									.b-subnav__sublist-item
										a.b-subnav__link( href="#!" ) getConferenceSettings()

					.b-subnav__sublist-item
						a.b-subnav__link( href="#!" ) Event handling

					.b-subnav__sublist-item
						.b-subnav__sublist

							.b-subnav__sublist-item
								a.b-subnav__link( href="#!" ) Conference events

							.b-subnav__sublist-item
								a.b-subnav__link( href="#!" ) SimpleCall events

			.b-subnav__list-item
				a.b-subnav__link( href="#!" ) Tutorial

			.b-subnav__list-item
				.b-subnav__sublist

					.b-subnav__sublist-item
						a.b-subnav__link( href="#!" ) Quickstart Conference

					.b-subnav__sublist-item
						a.b-subnav__link( href="#!" ) Quickstart SimpleCall

	.l-content-wrapper.l-content-wrapper_nav_2.c-scroll

		.l-content-wrapper__item.l-content-wrapper__item_major

			.b-content

				.-ol-container

					h1.-ol-h1 Clique Client JS SDK

					h2.-ol-h2 Developer Overview

					p Clique Client JS SDK ("The SDK") provides high-level tools for enterprise web developers to enhance their existing or build new web apps equipped with high definition, secure voice communications capabilities. Just some basic knowledge of javascript and web development practices is required to take advantage of this technology.

					p Customer applications built with the Clique platform require two primary components:

					h3.-ol-h3 Client

					p The browser or client handles client-side code that runs in a browser or mobile app, set up by the developer using the client-side libraries, which are available for Web, iOS and Android.

					p The client is responsible for all end-user user interface functionality. It interacts with the browser to access the user’s microphone and speakers, and provides the user interface to create, manage, and participate in a voice conference.

					h3.-ol-h3 Application Server
					
					p The application server handles server-side code executed on a web server and set up by the developer using Node.js. Other server SDK possibilities are PHP, Java, .NET, Python, and Ruby.

					p Owned by the customer, the application server is responsible for the following:

					ul

						li
							p Serving the client to the browser

						li
							p Acting as a command relay between the client and the Clique platform

						li
							p Augmenting the Clique platform with additional features like user management, access controls, interface with organizations user policies, etc.

						li
							p Creating new sessions by providing a secure &amp; secret API Key and generating unique authentication tokens for each new client. The client then uses that token to establish a connection to the Clique platform.

					p To better understand how the SDK might fit into your existing web application architecture, please review the following SDK flow diagram:

					h3.-ol-h3 API Key &amp; Session Token
					
					p To start working with the SDK you will need an API key along with the Clique service BASE URL which will be provided to you by the Clique Support team. The API key is used on your server side to authenticate requests to Clique service endpoints. You should keep the API key secret. It is possible to create a serverless app by embedding the API key into the client code. However, this method can only be used for a personal, limited time SDK evaluation and is not recommended for any real apps as it exposes the API key to end users potentially compromising security.

					h3.-ol-h3 Step-by-step
					
					p Once the API_KEY and BASE URL are obtained, you will then proceed with the following steps:

					ol

						li
							p On your server side, you will need to add 2 RESTful APIs:

					//- A call to send the API key to the Clique Service endpoint and get a user object back. Normally, this will need to be done once while registering a new end user. It may look like this:

					//- const fetchData = {
					//-     method: 'POST',
					//-     headers: new Headers({
					//-         Authorization: 'Bearer ' + API_KEY,
					//-     }),
					//-     mode: 'cors'
					//- };
					//- const data    = await fetch(BASE_URL + '/api/v2/users', fetchData);
					//- const userRes = await data.json();
					//- const user    = userRes.user;
					//- The user object returned by the Clique service will include the user UUID and a session token that would expire in 24 hours. The session token can then be passed from your server side to your client application which will now be able to use that token to authenticate all its requests to the Clique service endpoints via the SDK

					//- The second RESTfull API call to the Clique service endpoint from your server is necessary to request a new session token after the existing token has expired. The SDK token renewal flow is shown on the following diagram:

					//- Sunset
					//- Provide a RESTful API endpoint on your server side to allow your client app to request a Clique session token from your server. As shown on the above diagrams, this API endpoint will be used during the initial user registration with your service, as well as after the Clique token expiration.

					//- Include the SDK JS module into your web client application. The SDK can be installed using the npm package manager. See installation instructions below.

					//- Implement the client app code to request the session token from your server via the RESTful API you added in step 2.

					//- Implement the client app code to create an instance of Clique Conference API object. It may look like this:

					//- const clientConference = new CliqueClient.Conference({
					//-     base_url:      BASE_URL,
					//-     session_token: user.token
					//- });
					//- Add required conference event handlers. See conference tutorial below. An event handler triggered when someone joined the conference may look like this:

					//- clientConference.on('add-member', (event) => {
					//-     members[event.user.uuid] = event.user;
					//-     show_members();
					//-     console.log('add-member', event);
					//- });
					//- Now you are ready to implement your required conferencing features by using the corresponding methods provided by the SDK. For instance, to create a new conference you may use code similar to this:

					//- id('createConference')
					//-     .addEventListener('click', async () => {
					//-         conference = await clientConference.create();
					//-     });
					//- For more code examples, please see the tutorial section below.

					//- Installing
					//- Clique Client JS SDK is available via npm

					//- $ npm install clique-api-client-js
					//- Setting Up
					//- Using with webpack

					//- import CliqueClient from "clique-api-client-js";
					//- Using the pre-built version (client.build.js), jQuery is required

					//- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
					//- <script src="https://dev.cliqueapi.com/lib/client.build.js"></script>
					//- Using CliqueClient
					//- Create instance
					//- CliqueClient provides three child objects:

					//- CliqueClient.Conference — Multi-Party Conferencing including call recording, invitations to SMS, email and phone calls to PSTN phones and SIP UIRs and much more

					//- CliqueClient.SimpleCall — Regular calls to phone numbers over PSTN or SIP/VoIP calls to SIP URIs

					//- CliqueClient.User — Setting and getting user information

					//- const clientConference = new CliqueClient.Conference({
					//-     base_url:      '<base_url_provided_by_clique>',
					//-     session_token: '<session_token>'
					//- });
					//- const clientCall = new CliqueClient.SimpleCall({
					//-     base_url:      '<base_url_provided_by_clique>',
					//-     session_token: '<session_token>'
					//- });
					//- const userClient = new CliqueClient.User({
					//-     base_url:      '<base_url_provided_by_clique>',
					//-     session_token: '<session_token>'
					//- });
					//- Data types
					//- conference

					//- Key

					//- Type

					//- Description

					//- id

					//- String

					//- The conference identifier

					//- start_time

					//- String

					//- The conference start date and time in the ISO 8601 format

					//- settings

					//- Object

					//- [conference-settings]

					//- locked

					//- Boolean

					//- Indicates whether the conference is locked or not

					//- creator_uuid

					//- String

					//- The conference creator uuid

					//- phone_number

					//- String

					//- A dial-in phone number assigned to the conference (if any)

					//- user

					//- Key

					//- Type

					//- Description

					//- uuid

					//- String

					//- The user identifier

					//- token

					//- String

					//- Temporary access token

					//- settings

					//- Object

					//- [user-settings]

					//- user-settings

					//- Key

					//- Type

					//- Description

					//- wait_for_moderator

					//- Boolean

					//- If True, by default (unless overwritten for a specific conference), all conferences where this user is the moderator will be started only when she/he joins, other participants who tried to join earlier will wait on hold. As of this document creation date, the conference creator is the only moderator allowed. This can change in the future releases where the moderator role can be assigned to multiple users.

					//- assign_phone_number

					//- Boolean

					//- If True, by default, a random dial-in phone number will be assigned to every conference created by this user

					//- e1_joins_muted

					//- Boolean

					//- If True, by default, participants will join any conference created by this user muted, they’ll be able to unmute themselves at any time

					//- music_on_hold

					//- Boolean

					//- If True, by default music on hold will be played to a single participant or to all participants waiting for the moderator to join the conference

					//- record_all_conferences

					//- Boolean

					//- If true, by default all conferences where this user is the moderator will have the call recording started automatically once the first participant has joined the conference

					//- conference-settings

					//- Key

					//- Type

					//- Description

					//- wait_for_moderator

					//- Boolean

					//- If True, this conference will be started only when the user who is the conference moderator joins it, other participants who tried to join earlier will wait on hold

					//- assign_phone_number

					//- Boolean

					//- If True, a random dial-in phone number will be assigned to this conference

					//- e1_joins_muted

					//- Boolean

					//- If True, participants will join this conference muted, can unmute themselves at any time

					//- music_on_hold

					//- Boolean

					//- If True, music on hold will be played to a single participant in the conference or to all participants waiting for the moderator to join the conference

					//- record_all_conferences

					//- Boolean

					//- If true, the conference recording will start automatically once the first participant has joined that conference

					//- Instance methods
					//- Conference methods
					//- Quickstart Conference

					//- create(options)
					//- Create and join a new conference and optionally update the conference settings. You can request any combination of conference settings as a default (different from the system default below ) for your API KEY which will be used if you do not supply any specific conference settings as a parameter with this method. The system defaults are:

					//- wait_for_moderator - true,

					//- e1_joins_muted - false,

					//- join_in_watch_mode - false,

					//- music_on_hold - true,

					//- assign_phone_number - false,

					//- record_all_conferences - false

					//- Parameters

					//- options: Object Optional

					//- options.conference_settings: Object Optional

					//- Available conference settings:

					//- wait_for_moderator Optional - If True, all wait on hold until the conference moderator joins

					//- e1_joins_muted Optional - If true, all join muted, can unmute themselves at any time

					//- join_in_watch_mode Optional - If true, all join in Watch mode, can see who joined the conference already and join any time

					//- music_on_hold Optional - If true, music on hold is played

					//- assign_phone_number Optional - If true, a random, US locall number will be assigned to dial into the conferences

					//- record_all_conferences Optional - If true, the conference recording will start once the first participant has joined

					//- Returns

					//- Promise will create [conference] Object

					//- Example

					//- clientConference
					//-     .create({
					//-         conference_settings: {
					//-             wait_for_moderator:     true,
					//-             e1_joins_muted:         false,
					//-             join_in_watch_mode:     false,
					//-             music_on_hold:          true,
					//-             assign_phone_number:    false,
					//-             record_all_conferences: false,
					//-         }
					//-     })
					//-     .then(
					//-         (conference) => {
					//-             console.log(conference);
					//-             // You can grab some useful data here
					//-             console.log(conference.phone_number);
					//-         },
					//-         (data) => {
					//-             // error occurred
					//-             console.error(data.error.code, data.error.desc);
					//-         }
					//-     );
					//- join(id)
					//- Join a conference with a given conference id. This method usually is passed the conference Id received from some other client who created the conference

					//- Parameters

					//- conference_id: String

					//- Returns

					//- Promise will create [conference] Object

					//- Example

					//- clientConference
					//-     .join(id)
					//-     .then(
					//-         (conference) => {
					//-             // OK
					//-         },
					//-         (data) => {
					//-             // error occured
					//-             console.error(data.error.code, data.error.desc);
					//-         }
					//-     );
					//- leave()
					//- Close the user connection to the current conference

					//- Returns

					//- Promise

					//- Example

					//- clientConference.leave();
					//- localMute()
					//- Mutes the user’s microphone and sets the muted state of the microphone to true

					//- Example

					//- clientConference.localMute();
					//- localUnmute()
					//- Unmutes the user’s microphone and sets the muted state of the microphone to false

					//- Example

					//- clientConference.localUnmute();
					//- isMuted()
					//- Returns the state of user’s microphone. If muted, returns true, otherwise returns false

					//- Returns

					//- boolean

					//- Example

					//- clientConference.isMuted();
					//- localVolume([volume])
					//- Sets or gets the local volume level (from 0 to 100)

					//- Parameters

					//- volume: Integer Optional

					//- Returns

					//- current Integer level if the volume parameter is omitted

					//- Example

					//- const currentLevel = clientConference.localVolume();
					//- clientConference.localVolume(currentLevel + 1);
					//- userMute(uuid) - Moderator only
					//- Mute the user with a given id for all conference participants; available for the conference moderator only. The user can still unmute herself/himself after the moderator mute

					//- Parameters

					//- uuid: String

					//- Example

					//- clientConference.userMute(uuid);
					//- userUnmute(uuid) - Moderator only
					//- Unmute the user with a given id for all conference participants; available for the conference moderator only

					//- Parameters

					//- uuid: String

					//- Example

					//- clientConference.userUnmute(uuid);
					//- userKick(uuid) - Moderator only
					//- Kick the user with a given id out of the conference; available for the conference moderator only

					//- Parameters

					//- uuid: String

					//- Example

					//- clientConference.userKick(uuid);
					//- recordingStart(options) - Moderator only
					//- Start recording the current conference call; available for the conference moderator only

					//- Parameters options: Object

					//- Available options: - callback_url Optional - webhook URL, it will be hit when the recording is completed. There will be several attempts to deliver the recording URL via http POST request to that URL

					//- Example

					//- clientConference.recordingStart({
					//-     callback_url: 'https://mydomain/route'
					//- });

					//- // here is how the recording callback will be invoked
					//- // curl -H "Content-Type: application/json" -X POST -d '{"status": "completed", "url": "https://public-link-to-your-recording-with-1hour-expiration-lifetime"}' https://mydomain/route
					//- recordingStop() - Moderator only
					//- Stop recording; available for the conference moderator only

					//- Example

					//- clientConference.recordingStop();
					//- getRecordingById(recordingId)
					//- Get recording by recording id

					//- Parameters recordingId String

					//- Returns Promise

					//- Example

					//- clientConference.getRecordingById('136ba3c6-09ba-11e8-9a46-433c2a35cae6');
					//- lock() - Moderator only
					//- Lock the current conference (no new users can join); available for the conference moderator only

					//- Example

					//- clientConference.lock();
					//- unlock() - Moderator only
					//- Unlock the current conference (allow new users to join); available for conference moderator only

					//- Example

					//- clientConference.unlock();
					//- setGrace(period) - Moderator only
					//- Set a grace period for the conference ending. This call will only work for the conference moderator. Period is a time delay in seconds after the moderator leaves before the conference will be destroyed. The default is 5 seconds. If period = 0, the conference will not be destroyed after the moderator leaves. This function is useful in several use cases, e.g., when the moderator walks out from the wifi network area, her smart phone is then disconnected from the wifi network and quickly re-connected to the cellular data network without destroying the conference.

					//- Example

					//- clientConference.setgrace(5);
					//- id()
					//- Return the current conference id

					//- Returns

					//- String

					//- Example

					//- clientConference.id();
					//- on(event_name, event_callback)
					//- Set a callback handler for a given conference event

					//- Parameters

					//- event_name: String

					//- event_callback: function

					//- Example

					//- clientConference.on('start-talking', (event) => {
					//-     // Do something when the user with id = event.uuid starts talking
					//- });
					//- off(event_name)
					//- Discard the handler for a given conference event

					//- Returns

					//- String

					//- Example

					//- clientConference.off('start-talking');
					//- users()
					//- Return the list of user objects by uuid representing users who are currently in the conference

					//- Returns

					//- Object

					//- Example

					//- clientConference.users()
					//-     .then(
					//-         (data) => {
					//-             for (const uuid in data){
					//-                 const user = data[uuid];
					//-                 console.log(user);
					//-             }
					//-         },
					//-         () => {
					//-             // error occured
					//-             console.error(data.error.code, data.error.desc);
					//-         }
					//-     );
					//- invite(contacts, options)
					//- Sends one or several active conference invitations simultaneously to contacts via sms, email or phone call(s) to PSTN phones or SIP endpoints. A conference link and an optional dial-in phone number would be sent over SMS and email.

					//- Parameters

					//- contacts Array options: Object

					//- Contacts format:

					//- type - type on invite - ( sms | email | call )

					//- contact - the invite destination address. An email address, a phone number or a SIP URI can be used as a value for this object property. Use a full international phone number format ( E.164 ) including a +(plus) sign, country calling code, local area code and local phone number. For example, a US based number (617) 345-6789 will need to be entered as +16173456789. Use the following format for SIP URI: sip:name@domain:port where port number is optional

					//- Available options:

					//- conference_url - conference url, which will be provided to your contacts; you are responsible for creating this url based on your desired domain name

					//- sender_name Optional - the name of a person who sends the invitation

					//- sender_email Optional - the email address of a person who sends the invitation

					//- Returns

					//- Promise will create an Array of failures happened during the invitation process

					//- Example

					//- clientConference.invite([
					//-         { type: 'sms',   contact: '+1234567890' },
					//-         { type: 'call',  contact: '+1234567890' },
					//-         { type: 'call',  contact: 'sip:name@yourdomain.com:12345' },
					//-         { type: 'email', contact: 'dummy@example.com' }
					//-     ], {
					//-         sender_name:    'John Smith',
					//-         conference_url: 'https://example.com/conference/conference_id'
					//-     })
					//-     .then(
					//-         (data) => {
					//-             console.log('failures', data);
					//-         },
					//-         () => {
					//-             // error occured
					//-             console.error(data.error.code, data.error.desc);
					//-         }
					//-     );
					//- SimpleCall methods
					//- Quickstart SimpleCall

					//- dial(number, [options])
					//- Dial a phone number or a SIP URI

					//- Parameters

					//- number String  — Both a phone number and a SIP URI can be used in this field. Use a full international phone number format ( E.164 ) including a +(plus) sign, country calling code, local area code and local phone number. For example, a US based number (617) 345-6789 will need to be entered as +16173456789. Use the following format for SIP URI: sip:name@domain:port where port is optional

					//- options Object Optional

					//- Available options:

					//- source Optional — A phone number to present as Caller ID to the callee. If not specified, a default Clique phone number will be presented.

					//- Returns

					//- Promise

					//- Example

					//- clientCall.dial('+12345678901', { source: '+19876543210' });
					//- hangup()
					//- Handup the call

					//- Example

					//- clientCall.hangup();
					//- User methods
					//- updateConferenceSettings(options)
					//- Updates the current user settings. These settings will be used by default for all conferences created by this user. It is assumed the user persistence is maintained by the client application storing and reusing the original user token for every subsequent conference call

					//- Parameters

					//- options: Object Optional

					//- Available options:

					//- wait_for_moderator Optional - If True, all wait on hold until the conference moderator joins

					//- e1_joins_muted Optional - If true, all join muted, can unmute themselves at any time

					//- join_in_watch_mode Optional - If true, all join in Watch mode, can see who joined the conference already and join any time

					//- music_on_hold Optional - If true, music on hold is played

					//- assign_phone_number Optional - If true, a random, US locall number will be assigned to dial into the conferences

					//- record_all_conferences Optional - If true, the conference recording will start once the first participant has joined

					//- Returns

					//- Promise will update [user-settings] Object

					//- Example

					//- userClient
					//-     .updateConferenceSettings({
					//-         wait_for_moderator:     true,
					//-         e1_joins_muted:         false,
					//-         join_in_watch_mode:     false,
					//-         music_on_hold:          true,
					//-         assign_phone_number:    false,
					//-         record_all_conferences: false
					//-     })
					//-     .then(
					//-         (settings) => {
					//-             console.log(settings);
					//-         },
					//-         (data) => {
					//-             // error occurred
					//-             console.error(data.error.code, data.error.desc);
					//-         }
					//-     );
					//- getConferenceSettings()
					//- Gets the current user conference settings

					//- Returns

					//- Promise will update [user-settings] Object

					//- Example

					//- userClient
					//-     .getConferenceSettings()
					//-     .then(
					//-         (settings) => {
					//-             console.log(settings);
					//-         },
					//-         (data) => {
					//-             // error occurred
					//-             console.error(data.error.code, data.error.desc);
					//-         }
					//-     );
					//- Event handling
					//- Conference events
					//- clientConference.on('add-member', (event) => {
					//-     console.log('new user joined with uuid = ', event.user.uuid); // id of a new conference participant
					//- })
					//- The following events are available for you at the Conference object:

					//- Each event handler receives an event Object with the fields described:

					//- Event list
					//- add-member { user: Object } — user joined the conference

					//- user is an object: { uuid: String, meta: Object}

					//- When the add-member event is received as a result of an inbound or an outbound phone call, user.meta object would contain the following information about the call:

					//- user.meta: { number: String, direction: String, invited_by_uuid: String }

					//- invited_by_uuid — user uuid that made an invitation API request. Available for outbound calls only.

					//- You can also use meta field to store and receive custom data when creating new users via REST API calls

					//- del-member { uuid: String } — user with the given uuid left the conference

					//- start-talking { uuid: String } — user with the given uuid started talking

					//- stop-talking { uuid: String } — user with the given uuid stopped talking

					//- mute-member { uuid: String } — user with the given uuid has been muted

					//- unmute-member { uuid: String } — user with the given uuid has been unmuted

					//- lock {} - conference has been locked by the moderator

					//- unlock {} - conference has been unlocked by the moderator

					//- kick-member { uuid: String } — user with the given uuid has been kicked out of the conference

					//- conference-create { conference_session_id: String } — a new conference has been created

					//- conference-destroy { conference_session_id: String } — conference destroyed

					//- call-status { uuid: String, status: String } — call status changed

					//- status: the call status may contain ('early' | 'active' | 'ringing' | 'dialing' | 'answered' | 'hangup')

					//- setgrace {} — conference grace period time delay has been changed

					//- start-recording { recordingID: String } — conference recording started

					//- recordingID: you can use this ID to access recording object via the Clique RESTful API

					//- stop-recording { recordingID: String } — conference recording stopped

					//- recordingID: you can use this ID to access recording object via REST API

					//- recording-completed { recordingID: String, url: String } — conference recording completed

					//- recordingID: you can use this ID to access recording object via the Clique RESTful API

					//- url: the URL of the conference recording mp3 file; this is a public link and it will expire in 1 hour

					//- SimpleCall events
					//- The following events are available with the SimpleCall object:

					//- Event list
					//- call-active — triggered when the call changed its state to "active", i.e. the connection is established

					//- call-answer — triggered when the callee answers

					//- call-hangup — triggered when the call ends

					//- Tutorial
					//- Quickstart Conference
					//- This tutorial will show you how to build a sample conferencing application using Clique Client JS SDK.

					//- For a quick start implementing a conferencing app, please follow these steps:

					//- First, obtain an API key, BASE_URL from the Clique Support team.

					//- NOTE: Keep your API_KEY secure and never share it with 3rd parties

					//- Set up the view template (public/index.html)

					//- <!DOCTYPE html>
					//- <html lang="en">
					//-     <head>
					//-         <meta charset="UTF-8">
					//-         <meta name="viewport" content="width=, initial-scale=1.0">
					//-         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
					//-         <title>Clique Conferencing Demo</title>
					//-     </head>
					//-     <body>
					//-         <!-- Place your code here -->
					//-     </body>
					//- </html>
					//- Put this html markup into the public/index.html document:

					//- <div class="container">
					//-     <div class="column" style="display: flex; flex-direction: column; align-items: center;">
					//-         <div class="col-sm-6 align-self-center text-center">
					//-             <h3>Join Conference</h3>
					//-             <button class="btn btn-primary" id="createConference" type="button">Create Conference!</button>
					//-             <button type="button" id="mute" class="btn btn-danger">Mute</button>
					//-             <button type="button" id="recording" class="btn btn-danger">Start Recording</button>
					//-             <button type="button" id="hangup" class="btn btn-danger">Hangup</button>
					//-         </div>
					//-         <div class="col-sm-6 align-self-center text-center">
					//-             <h3>Your ID</h2>
					//-             <p id="id_profile"></p>
					//-             <h3>Member list</h2>
					//-             <p id="member_list"></p>
					//-             <h3>Recording file</h2>
					//-             <p id="recording_file"></p>
					//-         </div>
					//-     </div>
					//- </div>
					//- Add the following dependencies to the end of the public/index.html document:

					//- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
					//- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
					//- <! Clique Client JS SDK -->
					//- <script src="./components/clique-api-client-js/client.build.js"></script>
					//- <!-- App -->
					//- <script src="js/app.js" ></script>
					//- Next step is to implement the client script handler in the public/js/app.js file

					//- (async () => {
					//-   // insert your code here
					//- })();
					//- Set up some variables to define conference settings:

					//- let conference, clientConference, mute = false, recording = false;
					//- const BASE_URL = '<BASE_URL>';
					//- const API_KEY  = '<API_KEY>';
					//- Get Clique User Info

					//- const fetchData = {
					//-     method:  'POST',
					//-     headers: new Headers({
					//-         'Authorization': 'Bearer ' + API_KEY
					//-     }),
					//-     mode: 'cors'
					//- };
					//- const data    = await fetch(BASE_URL + '/api/v2/users', fetchData);
					//- const userRes = await data.json();
					//- const user    = userRes.user;
					//- Add some code to update elements on the page

					//- const id      = (id) => document.getElementById(id);
					//- let members = {};

					//- const show_members = () => {
					//-     let s = '';
					//-     for (const uuid in members) {
					//-         s += '<li>' + uuid;
					//-     }
					//-     id('member_list').innerHTML = '<ul>' + s + '</ul>';
					//- };
					//- Create an instance of Clique Client Conference API object

					//- clientConference = new CliqueClient.Conference({
					//-     base_url:      BASE_URL,
					//-     session_token: user.token
					//- });
					//- We are almost done. The next few steps will set up some event handlers

					//- Determine the User ID

					//- id('id_profile').textContent = user.uuid;
					//- Add createConference event handler

					//- id('createConference')
					//-     .addEventListener('click', async () => {
					//-         conference = await clientConference.create();
					//-     });
					//- Add handler to close the conference

					//- id('hangup')
					//-     .addEventListener('click', async () => {
					//-         await clientConference.leave();
					//-         members = {};
					//-         show_members();
					//-     });
					//- Add handler to mute/unmute the microphone

					//- const elMute = id('mute');
					//- elMute.addEventListener('click', (event) => {
					//-     if (!mute) {
					//-         clientConference.localMute();
					//-         elMute.textContent = 'unmute';
					//-         elMute.classList.remove('btn-danger');
					//-         elMute.classList.add('btn-success');
					//-         mute = true;
					//-     } else {
					//-         clientConference.localUnmute();
					//-         elMute.textContent = 'mute'
					//-         elMute.classList.remove('btn-success');
					//-         elMute.classList.add('btn-danger');
					//-         mute = false;
					//-     }
					//- });
					//- Add handler to start/stop recording

					//- const elRecording = id('recording');
					//- elRecording.addEventListener('click', (event) => {
					//-     if (!recording) {
					//-         clientConference.recordingStart({
					//-             callback_url: 'localost:3000/test', // HTTP POST webhook
					//-             // callback_url is optional, it will be invoked once the recording is completed, uploaded to the server and is available to access
					//-         });
					//-         elRecording.textContent = 'Stop Recording';
					//-         elRecording.classList.remove('btn-danger');
					//-         elRecording.classList.add('btn-success');
					//-         recording = true;
					//-     } else {
					//-         clientConference.recordingStop();
					//-         elRecording.textContent = 'Start Recording';
					//-         elRecording.classList.remove('btn-success');
					//-         elRecording.classList.add('btn-danger');
					//-         recording = false;
					//-     }
					//- });
					//- Add add-member, del-member events watch, triggered when someone joins or leaves the conference:

					//- clientConference.on('add-member', (event) => {
					//-     members[event.user.uuid] = event.user;
					//-     show_members();
					//-     console.log('add-member', event);
					//- });

					//- clientConference.on('del-member', (event) => {
					//-     console.log('del-member', event);
					//-     delete members[event.uuid];
					//-     show_members();
					//- });
					//- Add recording event watchers, triggered when conference recording has been started, stopped or completed and the recorded file is ready for download:

					//- clientConference.on('start-recording', (event) => {
					//-     console.log('recording id', event.recordingID);
					//- });

					//- clientConference.on('stop-recording', (event) => {
					//-     console.log('recording id', event.recordingID);
					//- });

					//- clientConference.on('recording-completed', (event) => {
					//-     console.log('file ready to download', event.url);
					//-     id('recording_file').textContent = event.url;
					//- });
					//- We are done. You can now start your app, just open the index.html document in your browser.

					//- Quickstart SimpleCall
					//- For a quick start implementing a dialing app please follow these steps:

					//- First, obtain an API key and the BASE URL from the Clique Support team.

					//- Keep your API_KEY secure and never share it with 3rd parties

					//- Set up the view template (public/index.html)

					//- <!DOCTYPE html>
					//- <html lang="en">
					//-     <head>
					//-         <meta charset="UTF-8">
					//-         <meta name="viewport" content="width=, initial-scale=1.0">
					//-         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
					//-         <title>Clique Dialing Demo</title>
					//-     </head>
					//-     <body>
					//-         <!-- Place your code here -->
					//-     </body>
					//- </html>
					//- Put this html markup into the public/index.html document:

					//- <div class="container">
					//-     <div class="column" style="display: flex; flex-direction: column; align-items: center;">
					//-         <div class="col-sm-6 align-self-center text-center">
					//-             <h3>Dial Phone #</h3>
					//-             <form class="form-inline">
					//-                 <div class="form-group">
					//-                     <input type="text" id="phoneNumber" class="form-control" />
					//-                 </div>
					//-                 <button type="button" id="dial" class="btn btn-success">Dial</button>
					//-                 <button type="button" id="hangup" class="btn btn-daner">Hangup</button>
					//-             </form>
					//-         </div>
					//-     </div>
					//- </div>
					//- Add the following dependencies to the end of the public/index.html document:

					//- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
					//- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
					//- <! Clique Client JS SDK -->
					//- <script src="./components/clique-api-client-js/client.build.js"></script>
					//- <!-- App -->
					//- <script src="js/app.js" ></script>
					//- Next step is to implement the client script handler in the public/js/app.js file

					//- (async () => {
					//-   // insert your code here
					//- })();
					//- Set up some variables to define dial settings:

					//- let clientCall, mute = false;
					//- const BASE_URL = '<BASE_URL>';
					//- const API_KEY  = '<API_KEY>';
					//- Get Clique User object

					//- const fetchData = {
					//-     method: 'POST',
					//-     headers: new Headers({
					//-         'Authorization': 'Bearer ' + API_KEY
					//-     }),
					//-     mode: 'cors'
					//- };
					//- const data    = await fetch(BASE_URL + '/api/v2/users', fetchData);
					//- const userRes = await data.json();
					//- const user    = userRes.user;
					//- Add some code to update elements on the page

					//- const id = (id) => document.getElementById(id);
					//- Create an instance of the Clique SimpleCall API object

					//- clientCall = new CliqueClient.SimpleCall({
					//-     base_url:      BASE_URL,
					//-     session_token: user.token
					//- });
					//- We are almost done. Just need to set up some handlers

					//- Add dial event handler

					//- id('dial')
					//-     .addEventListener('click', async () => {
					//-         const number = id('phoneNumber').value;
					//-         if (number) {
					//-             await clientCall.dial(number);
					//-         }
					//-     });
					//- Add handler to hangup

					//- id('hangup')
					//-     .addEventListener('click', () => {
					//-         clientCall.hangup()
					//-     });
					//- We are done. You can now start your app by opening the index.html document in your browser.



block append scripts

	script(
		src="dist/js/plugins/perfect-scrollbar.jquery.js" )

	script(
		src="dist/js/specific/app.js" )