.b-content
	padding: 80px 0

	+md-tablet
		padding: 60px 0 100px

	+e-h1
		margin: 69px 0 51px // -11 0 -9
		line-height: 1.278

		&:first-child
			margin-top: -11px

		+ .e-subheading
			margin: -44px 0 41px // -9 0 -9

	+e-h2
		margin: 70px 0 42px // -10 0 -8
		line-height: 1.334

		&:first-child
			margin-top: -10px

		+ h4,
		+ .-ol-h4
			margin-top: 44px

		+ .e-subheading
			margin: -25px 0 33px

		&._m_b_none
			margin-bottom: -8px

	+e-h3
		margin: 51px 0 41px // -9 0
		line-height: 1.5
		font-weight: 700

		&:first-child
			margin-top: -9px

		&._m_b_none
			margin-bottom: -9px

	+e-h4
		margin: 52px 0 43px // -8 0 -7
		line-height: 1.5

		&:first-child
			margin-top: -8px

		&._m_b_none
			margin-bottom: -7px

	p
		margin: -11px 0 -10px
		line-height: 2

		&:not(.e-subheading)

			+ p
				margin-top: 39px

				&._with-heading
					margin-top: 42px

	a

		&[href]

			@extend .-ol-link

	b, strong
		color: $grey-darker
		font-weight: 700

	i, em
		font-style: italic
	
	sub, sup
		font-size: .6em

	sub
		vertical-align: bottom

	sup
		vertical-align: top

	.e-subheading
		color: $grey-light
		font-size: $font-size-sm

	.e-heading_inline
		color: $grey-darker
		font-size: $font-size-xm
		line-height: 1.778

	ul,
	ol
		width: 79.5455%
		margin: 50px 0

		+md-tablet
			width: 100%

		&._m_vert_min
			margin: 30px 0

		&._last_in_li
			margin-bottom: 20px

		&._first
			margin-top: 0

		&._last
			margin-bottom: 0

		&._full_w
			width: 100%

		> li
			position: relative

			// leave display: table
			// for better margin collapse
			// for child elements
			display: table
			line-height: 2

			p

				+ p
					margin-top: 19px !important // to set .b-content p:not(.e-subheading) + p

			+ li
				margin-top: 30px

	ul

		> li
			padding-left: 20px

			&::before
				$d: 5px

				content: ''

				position: absolute
				top: 3px
				left: 0

				width: $d
				height: $d

				border-radius: 50%

				background-color: $grey-darker

	ol

		+ol('li')

		&._lower-latin

			> li

				&::before
					content: counter(list, lower-latin) '. '

		> li
			// don't use display: flex
			// to align counter and content
			// there is a strange bug
			// on iOS with
			// display: flex alignment
			display: table

			&::before
				padding-right: 6px

				color: $grey-darker
				line-height: 0
				font-weight: 700

			> *,
			&::before,
			&::after
				display: table-cell

	img
		display: block
		max-width: 100%
		margin: 50px 0

		&._m_vert_min
			margin: 30px 0

		&._last_in_li
			margin-bottom: 20px

		&._edging
			border: $brd_w solid $brd_c
			border-radius: 10px

			+md-mobile
				border-radius: 5px

		&._brd
			border: $brd_w solid $brd_c

		&._brd_rd
			border-radius: 10px

			+md-mobile
				border-radius: 5px

		&._first
			margin-top: 0

		&._last
			margin-bottom: 0

	.e-footer
		// don't add border of padding here
		// otherwise li > li will look incorrect
		position: relative
		margin-top: (110px + $brd_w)
		text-align: center

		&::before
			content: ''

			position: absolute
			top: -30px
			left: 0

			width: 100%
			height: $brd_w

			background-color: $brd_c

		p
			color: $grey-light

			+ p
				margin-top: 19px