.b-link-list
	margin-top: -$m-col
	margin-bottom: $m-col

	&_last
		margin-bottom: 0

	&__item
		position: relative

		height: 200px

		margin-top: $m-col
		border-radius: 5px
		border: $brd_w solid $brd_c
		padding: $m-col

		background-color: $white

	&__title
		margin: -15px 0 -13px

		color: $grey-darker
		font-size: $font-size-xxxl
		line-height: 1.5
		font-weight: 900

		text-transform: uppercase
		text-align: center

	&__link
		position: absolute
		bottom: 25px
		right: $m-col

		margin: -8px 0

		color: $brand-primary
		font-size: $font-size-mdl
		line-height: 1.75
		font-weight: 900

		text-align: right