.b-nav
	position: fixed
	top: 0
	left: 0
	z-index: $z_i-b-nav

	width: $w-b-nav
	height: 100%

	background: $white
	box-shadow: 0 10px 40px  rgba( $b_sh_c_bright, .15 )

	transition: left .4s

	&__inner
		height: 100%

		overflow-y: auto

		padding: $p_vert-b-nav 10px

		text-align: center

	&__title // tag a
		display: block
		margin-bottom: 45px

		&_last
			margin-bottom: 0

	&__title-text
		margin: -6px 0 3px

		color: $grey-darker
		font-size: $font-size-xxxl
		line-height: 1
		font-weight: 900
		letter-spacing: .14em

		&_last
			margin-bottom: -4px

	&__title-subtext
		margin: -6px 0 -5px

		color: $brand-primary
		font-size: $font-size-sm
		line-height: 1.5
		font-weight: 900
		letter-spacing: .14em

		text-transform: uppercase

	&__nav

	&__nav-item
		position: relative
		margin-bottom: 45px

		&_last
			margin-bottom: 0

	&__link
		position: relative

		display: block

		width: 100%

		&::after
			display: block
			color: $grey-lightest
			transition: color .2s

		&_document

			@extend .i-document

			&::after
				font-size: 17px

		&_rocket

			@extend .i-rocket

			&::after
				font-size: 19px

		&_code

			@extend .i-code

			&::after
				font-size: 11px

		&_download

			@extend .i-dowload

			&::after
				font-size: 15px

	&__nav-item:hover &__link::after,
	&__nav-item_active &__link::after
		color: $brand-primary