.b-subnav
	position: fixed
	top: 0
	left: $w-b-nav
	z-index: $z_i-b-subnav

	width: $w-b-subnav
	height: 100%

	padding: $p_vert-b-nav 20px

	background: $grey-lightest_primary_3

	transition: left .4s

	&__heading
		margin: -7px 0 13px

		color: $grey-darker
		font-size: $font-size-xm
		line-height: 1.5
		font-weight: 800
		letter-spacing: .06em

		&_last
			margin-bottom: -7px

	&__list
		padding-left: 5px

	&__list-item
		margin-bottom: 17px

	&__sublist
		padding-left: 12px

	&__sublist-item
		margin-bottom: 17px

	&__link
		display: block

		margin: -3px 0 -5px

		color: $brand-primary
		font-size: 1.3rem
		line-height: 1.8rem
		font-weight: 700
		letter-spacing: .06em