.l-flex
	display: flex
	flex-wrap: wrap

	&_nowrap
		flex-wrap: nowrap

	&_valign_center
		align-items: center

	&_valign_center_top_mb
		align-items: center

		+md-mobile
			align-items: flex-start

	&_center
		justify-content: center

	&_col
		flex-direction: column

	& > &__item

		&_major
			flex-grow: 1

		&_center_vert
			margin-top: auto
			margin-bottom: auto