._text_center_tb

	+md-tablet
		text-align: center

._bg_lightest_primary
	background-color: $grey-lightest_primary !important

._bg_lightest_primary_mb

	+md-mobile
		background-color: $grey-lightest_primary !important

._bg_lightest_primary_3
	background-color: $grey-lightest_primary_3 !important