.-ol-btn
	display: inline-block
	vertical-align: middle

	min-width: $min_w-btn

	margin-bottom: 0 // For input.-ol-btn
	border-style: solid

	background-image: none // Reset unusual Firefox-on-Android default style, see https://github.com/necolas/normalize.css/issues/214

	font-weight: $btn-font-weight

	text-align: center
	word-break: break-word

	cursor: pointer
	touch-action: manipulation

	transition: all .2s

	+btn-size( $h-btn, $brd_rd-btn, $p_vert-btn, $p_horiz-btn, $f_sz-btn, $lh-btn, $brd_w-btn )

	+btn-variant( $c-btn, $bg_c-btn-primary, $per-btn_hover, $per-btn_active )

	padding: ($p_vert-btn - $align_vert-btn) $p_horiz-btn ($p_vert-btn + $align_vert-btn) // to set +btn-size()

	+md-mobile_sm
		width: 100%

	&_default

		+btn-variant( $c-btn-default, $bg_c-btn-default )

	&_primary

		+btn-variant( $c-btn-filled, $bg_c-btn-primary )

	&_primary_reverse

		+btn-variant( $bg_c-btn-primary, $c-btn-filled )

	&_success

		+btn-variant( $c-btn-filled, $bg_c-btn-success )

	&_info

		+btn-variant( $c-btn-filled, $bg_c-btn-info )

	&_warning

		+btn-variant( $c-btn-filled, $bg_c-btn-warning )

	&_danger

		+btn-variant( $c-btn-filled, $bg_c-btn-danger )

	&_outline

		+btn-variant( $c-btn-outline, $bg_c-btn-outline )

	&_minor

		+btn-variant( $c-btn-minor, $bg_c-btn-minor )

	&_disabled,
	&[disabled]

		+btn-variant( $c-btn-disabled, $bg_c-btn-disabled, 0, 0 )

		cursor: not-allowed
		pointer-events: none // Future-proof disabling of hover, active, click



.-ol-btn_link
	width: auto
	height: auto

	border: 0
	border-radius: 0
	padding: 0

	+btn-link( $brd-c-btn-link, $c-btn-link, $brd-c-btn-link_hover, $c-btn-link_hover )


// Button Sizes
// --------------------------------------------------

.-ol-btn_lg

	+btn-size( $h-btn_lg, $brd_rd-btn_lg, $p_vert-btn_lg, $p_horiz-btn_lg, $f_sz-btn_lg, $lh-btn_lg, $brd_w-btn_lg )

	letter-spacing: .1em

	+md-mobile

		+btn-size( $h-btn_lg_mb, $brd_rd-btn_lg_mb, $p_vert-btn_lg_mb, $p_horiz-btn_lg_mb, $f_sz-btn_lg_mb, $lh-btn_lg_mb, $brd_w-btn_lg_mb )

.-ol-btn_mdl

	+btn-size( $h-btn_mdl, $brd_rd-btn_mdl, $p_vert-btn_mdl, $p_horiz-btn_mdl, $f_sz-btn_mdl, $lh-btn_mdl, $brd_w-btn_mdl )

	letter-spacing: .1em

	+md-mobile

		+btn-size( $h-btn_mdl_mb, $brd_rd-btn_mdl_mb, $p_vert-btn_mdl_mb, $p_horiz-btn_mdl_mb, $f_sz-btn_mdl_mb, $lh-btn_mdl_mb, $brd_w-btn_mdl_mb )

.-ol-btn_sm

	+btn-size( $h-btn_sm, $brd_rd-btn_sm, $p_vert-btn_sm, $p_horiz-btn_sm, $f_sz-btn_sm, $lh-btn_sm, $brd_w-btn_sm )

.-ol-btn_xs

	+btn-size( $h-btn_xs, $brd_rd-btn_xs, $p_vert-btn_xs, $p_horiz-btn_xs, $f_sz-btn_xs, $lh-btn_xs, $brd_w-btn_xs )


// Button Other styles
// --------------------------------------------------

.-ol-btn_style_2
	min-height: $h-btn_style_2_wanted // for empty buttons (without text)

	+btn-size( $h-btn_style_2, $brd_rd-btn_style_2, $p_vert-btn_style_2, $p_horiz-btn_style_2, $f_sz-btn_style_2, $lh-btn_style_2, $brd_w-btn_style_2 )

.-ol-btn_style_2_lg
	min-height: $h-btn_style_2_lg_wanted // for empty buttons (without text)

	+btn-size( $h-btn_style_2_lg, $brd_rd-btn_style_2_lg, $p_vert-btn_style_2_lg, $p_horiz-btn_style_2_lg, $f_sz-btn_style_2_lg, $lh-btn_style_2_lg, $brd_w-btn_style_2_lg )

	padding: ($p_vert-btn_style_2_lg - $align_vert-btn) $p_horiz-btn_style_2_lg ($p_vert-btn_style_2_lg + $align_vert-btn) // to set +btn-size()

	// +md-mobile

	// 	+btn-size( $h-btn_style_2_lg_mb, $brd_rd-btn_style_2_lg_mb, $p_vert-btn_style_2_lg_mb, $p_horiz-btn_style_2_lg_mb, $f_sz-btn_style_2_lg_mb, $lh-btn_style_2_lg_mb, $brd_w-btn_style_2_lg_mb )

	// 	padding: ($p_vert-btn_style_2_lg_mb - $align_vert-btn) $p_horiz-btn_style_2_lg_mb ($p_vert-btn_style_2_lg_mb + $align_vert-btn) // to set +btn-size()

	&_p_vert_xsm
		padding-left: 10px
		padding-right: 10px