.-ol-input,
.-ol-textarea
	display: block

	width: 100%

	padding: round($p_vert-input - $align_vert-input/2) $p_horiz-input round($p_vert-input + $align_vert-input/2)
	border: $brd_w-input solid $brd_c
	border-radius: $brd_rd-input

	background: $bg-input

	color: $c-input
	font-size: $fsz-input
	line-height: $h-input - $brd_w-input * 2 - $p_vert-input * 2

	text-overflow: ellipsis

	+placeholder-style( $c-placeholder, transparent, $c-placeholder )

.-ol-input-2,
.-ol-textarea-2
	display: block

	width: 100%

	padding: round($p_vert-input-2 - $align_vert-input-2/2) $p_horiz-input-2 round($p_vert-input-2 + $align_vert-input-2/2)
	border: $brd_w-input-2 solid transparent
	border-radius: $brd_rd-input-2

	background: $bg-input-2

	color: $c-input-2
	font-size: $fsz-input-2
	line-height: $h-input-2 - $brd_w-input-2 * 2 - $p_vert-input-2 * 2
	letter-spacing: .06em

	text-overflow: ellipsis

	+placeholder-style( $c-placeholder-2, transparent, $c-placeholder-2, $lts: .06em )

	&_with_visibility_switcher
		padding-right: ( $r-b-btn-visibility * 2 ) + $w-b-btn-hidden - $brd_w-input-2

.-ol-input-3,
.-ol-textarea-3
	display: block

	width: 100%

	padding: round($p_vert-input-3 - $align_vert-input-3/2) $p_horiz-input-3 round($p_vert-input-3 + $align_vert-input-3/2)
	border: $brd_w-input-3 solid $brd_c
	border-radius: $brd_rd-input-3

	background: $bg-input-3

	color: $c-input-3
	font-size: $fsz-input-3
	line-height: $h-input-3 - $brd_w-input-3 * 2 - $p_vert-input-3 * 2
	letter-spacing: .06em

	text-overflow: ellipsis

	+placeholder-style($c-placeholder-3, transparent, $c-placeholder-3, $lts: .06em)

	&[disabled]
		background: $grey-lightest_primary
		color: $grey

	&_with_visibility_switcher
		padding-right: ($r-b-btn-visibility * 2) + $w-b-btn-hidden - $brd_w-input-3

.-ol-input,
.-ol-input-2,
.-ol-input-3

	&[disabled]
		cursor: not-allowed

.-ol-input
	height: $h-input
	text-overflow: ellipsis
	word-break: normal

.-ol-input-2
	text-overflow: ellipsis
	word-break: normal

.-ol-input-3
	text-overflow: ellipsis
	word-break: normal

.-ol-textarea
	height: $h-textarea
	resize: vertical

	overflow: auto

	border-radius: $brd_rd-textarea

	&_lg
		height: $h-textarea_lg

.-ol-textarea-2
	height: $h-textarea-2
	resize: vertical

	overflow: auto

	border-radius: $brd_rd-textarea-2

.-ol-textarea-3
	height: $h-textarea-3
	resize: vertical

	overflow: auto

	border-radius: $brd_rd-textarea-3

input.invalid // for desk.com
	background-color: $bg_c-form-error

	&:hover

		~ label.invalid

			// I have to rewrite
	
label.invalid // for desk.com

	// I have to rewrite

.-ol-input-error,
.-ol-input-clue
	position: absolute
	top: calc( 100% + 15px )

	max-width: calc( 100% - #{$p_horiz-input-subtext * 2} )

	margin: -5px 0

	font-size: 1.3rem
	line-height: 1.5
	font-weight: 300

.-ol-input-error
	left: $p_horiz-input-subtext

	opacity: 0

	color: $brand-danger
	text-align: left

	transition: opacity .2s

.-ol-input-clue
	right: $p_horiz-input-subtext

	color: $brand-primary
	text-align: right

	transition: color .2s

	&:hover
		color: darken( $brand-primary, 10% )

	&:active
		color: darken( $brand-primary, 20% )


.-ol-input-description
	margin: -8px 0
	padding: 15px
	padding-bottom: 0

	color: $grey-light
	font-size: 12px
	line-height: 2
	font-weight: 300

	letter-spacing: .06em

.-ol-input-file
	position: relative

	overflow: hidden

	display: table

	width: 100%
	min-height: $h-input_file

	background-color: $grey-lightest_primary_3

	border: $brd_w dashed $brd_c
	border-radius: 10px

	input
		$h-input-file: 100%

		width: 100%
		height: $h-input-file

		position: absolute
		top: 0
		left: 0
		z-index: 3

		opacity: 0

		cursor: pointer

	&__text
		display: table-cell

		vertical-align: middle

		padding: $m-col

		line-height: 1.4

		text-align: center
		word-break: break-word

		&-inner // for vertical alignment
			padding-bottom: 2px

		.-ol-span
			position: relative
			padding-left: 49px
			color: $grey-light

			// @extend .i-upload

			&::after
				position: absolute
				top: -1px
				left: 0

				opacity: .6

				color: $brand-primary
				font-size: 22px

.-ol-subinput
	margin: -7px 0

	font-size: $font-size-sm
	line-height: 1.75
	color: $grey-light

	text-align: center

.-ol-label-wrap
	display: block // for label block

	.-ol-label
		color: $c-label
		font-size: $f_sz-label
		font-weight: $f_w-label

		& + .-ol-input,
		& + .-ol-textarea
			margin-top: $m_b-label

.-ol-label-wrapper-2
	display: block

.-ol-label-2
	display: table
	width: 100%
	margin-bottom: $m_b-label-2

	&_last
		margin-bottom: 0

	&_sm
		margin-bottom: $m_b-label-2_sm

.-ol-label-2_with_name_icon,
.-ol-label-2_with_email_icon,
.-ol-label-2_with_mobile_icon
	position: relative
	padding-left: 45px

	&::after
		position: absolute
		color: $grey-lighter

.-ol-label-2_with_name_icon

	// @extend .i-user

	&::after
		top: -6px
		left: 3px
		font-size: 23px

.-ol-label-2_with_email_icon

	// @extend .i-email-2

	&::after
		top: -3px
		left: 1px
		font-size: 17px

.-ol-label-2_with_mobile_icon

	// @extend .i-mobile

	&::after
		top: -6px
		left: 5px
		font-size: 23px

.-ol-label-text-2
	margin: -11px 0 -10px

	color: $c-label-2
	font-size: $f_sz-label-2
	line-height: 2
	font-weight: $f_w-label-2
	letter-spacing: .2em

	&_sm
		margin: -9px 0
		font-size: $f_sz-label-2_sm

.-ol-input-wrap
	$h-pass-strength-line: 3px

	position: relative

	&_disabled
		opacity: .5

		.-ol-input,
		.-ol-textarea
			color: $c-placeholder

		.-ol-input-2,
		.-ol-textarea-2
			color: $c-placeholder-2

		.-ol-input-3,
		.-ol-textarea-3
			color: $c-placeholder-3

	&_style_2

		&::before
			content: ''

			position: absolute
			bottom: 0
			left: 0

			width: 100%
			height: $brd_w-input

			background-color: $brd_c

	&_style_3

		.-ol-input-error
			display: none

			top: -4px
			left: $p_horiz-input-3 - $p_horiz-input-wrap_style_3__input-error

			padding: 0 $p_horiz-input-wrap_style_3__input-error

			background: $white

			+text-ellipsis

	&_visible

		.b-btn-visibility
			display: block

		.b-btn-hidden
			display: none

	&_error

		.-ol-input
			color: $c-form-error

		.-ol-input-subtext

			&_two_items_in_line_in_error
				width: calc( 50% - #{$p_horiz-input-subtext} )

		.-ol-input-error
			opacity: 1
			padding-right: 5px

		.-ol-input-clue
			padding-left: 5px

	&_style_2.-ol-input-wrap_error

		&::before
			background-color: $brd_c-form-error

	&_style_2_disabled
		$w-icon:	13px
		$h-icon:	17px

		// @extend .i-lock-2

		&::after
			position: absolute
			bottom: round( ( $h-input-2 - $h-icon)/2 )
			right: $p_horiz-input-2
			z-index: -1 // to be under input

			opacity: .5

			color: $brand-danger
			font-size: $h-icon

		.-ol-input-2,
		.-ol-textarea-2
			padding-right: ($p_horiz-input-2 * 2) + $w-icon

	&_style_3.-ol-input-wrap_error
		display: block

		.-ol-input-error
			display: block
			padding-right: $p_horiz-input-wrap_style_3__input-error

		.-ol-input-clue
			padding-left: 0

	&_pass_strength_weak,
	&_pass_strength_good,
	&_pass_strength_strong

		&::before
			content: ''

			position: absolute
			bottom: 0
			left: 0
			z-index: $z_i-b-btn-vizibility__icon + 1

			height: $h-pass-strength-line

			transition: all .6s

		&::after
			content: ''

			position: absolute
			top: 100%
			left: 15px
			z-index: $z_i-b-btn-vizibility__icon + 1

			font-size: $font-size-sm
			line-height: 2
			font-weight: 400

			letter-spacing: .06em

			transition: all .6s

	&_pass_strength_weak

		&::before
			width: 25%
			background-color: $brand-danger

		&::after
			content: 'Weak'
			color: $brand-danger

	&_pass_strength_good

		&::before
			width: 50%
			background-color: $brand-warning

		&::after
			content: 'Good'
			color: $brand-warning

	&_pass_strength_strong

		&::before
			width: 100%
			background-color: $brand-primary

		&::after
			content: 'Strong'
			color: $brand-primary

	&_style_3.-ol-input-wrap_pass_strength_weak,
	&_style_3.-ol-input-wrap_pass_strength_good,
	&_style_3.-ol-input-wrap_pass_strength_strong

		&::before
			border-bottom-left-radius: $h-pass-strength-line

	&_style_3.-ol-input-wrap_pass_strength_strong

		&::before
			border-bottom-right-radius: $h-pass-strength-line

.-ol-row-input
	margin-bottom: $m-row-input

	+md-mobile
		margin-bottom: $m-row-input_mb

	&_md
		margin-bottom: $m-row-input_md

		+md-mobile
			margin-bottom: $m-row-input_md_mb

	&_xmd
		margin-bottom: $m-row-input_xmd

		+md-mobile
			margin-bottom: $m-row-input_xmd_mb

	&_xxmd
		margin-bottom: $m-row-input_xxmd

		+md-mobile
			margin-bottom: $m-row-input_xxmd_mb

	&_lg
		margin-bottom: $m-row-input_lg

		+md-mobile
			margin-bottom: $m-row-input_lg_mb

	&_last
		margin-bottom: 0

		+md-mobile
			margin-bottom: 0

.-ol-row-input-mb

	+md-mobile
		margin-bottom: $m-row-input-mb

	+md-mobile

		&_md
			margin-bottom: $m-row-input-mb_md

	+md-mobile

		&_xmd
			margin-bottom: $m-row-input-mb_xmd

	+md-mobile

		&_xxmd
			margin-bottom: $m-row-input-mb_xxmd

	+md-mobile

		&_lg
			margin-bottom: $m-row-input-mb_lg

	&_last

		+md-mobile
			margin-bottom: 0


.-ol-form-body
	margin-bottom: $m-form-body

	+md-mobile
		margin-bottom: $m-form-body_mb

	&_md
		margin-bottom: $m-form-body_md

		+md-mobile
			margin-bottom: $m-form-body_md_mb

	&_lg
		margin-bottom: $m-form-body_lg

		+md-mobile
			margin-bottom: $m-form-body_lg_mb

	&_last
		margin-bottom: 0

		+md-mobile
			margin-bottom: 0

.-ol-checkbox
	position: relative

	width: $w-checkbox
	height: $h-checkbox

	&__input
		position: absolute
		top: 0
		left: 0
		z-index: 1

		opacity: 0
		overflow: hidden

		width: 100%
		height: 100%

	&__trigger
		position: absolute
		top: 0
		left: 0

		width: 100%
		height: 100%

		border: $brd_w-checkbox solid $brd_c-checkbox
		border-radius: $brd_rd-checkbox

		background-color: $bg-checkbox

		cursor: pointer

	&__input:checked ~ &__trigger
		border: $brd_w-checkbox_checked solid $brd_c-checkbox_checked
		background-color: $bg-checkbox_checked

	&[disabled]
		opacity: 0.55
		cursor: default

.-ol-switcher
	$w: 				60px
	$h: 				28px

	$w-round:			$h - 8px
	$h-round:			$w-round

	$horiz-round:		$w - $w-round - ($h - $h-round)/2

	position: relative

	&__input
		position: absolute
		top: 0
		left: 0
		z-index: 1

		width: 100%
		height: 100%

		opacity: 0

	&__box
		width: $w
		height: $h

		overflow: visible !important

		border: none
		border-radius: round($h/2)

		background-color: $grey-lightest

		transition: all .2s

		cursor: pointer

	&_colorful &__box
		background-color: $brand-danger

	&__input:checked ~ &__box
		background-color: $brand-primary

	&__round
		position: absolute
		top: ($h - $h-round)/2
		left: ($h - $h-round)/2
		z-index: 1

		width: $w-round
		height: $h-round

		border-radius: 50%

		background-color: $white
		box-shadow: 0 4px 8px rgba($black, .15)

		transition: all .2s

	&__input:checked ~ &__box &__round
		left: $horiz-round

	&__text
		position: absolute
		top: 0

		width: $horiz-round

		font-size: $font-size-sm
		line-height: $h
		font-weight: 700
		white-space: nowrap

		text-align: center

		transition: all .2s

		&_off
			right: 0

			opacity: 1

			padding-right: 2px

			color: $grey

		&_on
			left: 0

			opacity: 0

			padding-left: 4px

			color: $white

	&_colorful &__text_off
		color: $white

	&__input:checked ~ &__box &__text_off
		opacity: 0

	&__input:checked ~ &__box &__text_on
		opacity: 1



.select2-container
	position: relative
	vertical-align: middle

	display: block

	margin: 0

	.select2-choice
		display: block
		height: auto
		padding: $p_vert-input $p_horiz-input
		overflow: hidden
		position: relative

		border: $brd_w-input solid $brd_c
		white-space: nowrap
		line-height: 26px
		color: #444
		text-decoration: none

		border-radius: $brd_rd-input

		background: $bg-input

		touch-callout: none
		user-select: none

.select2-container,
.select2-drop,
.select2-search,
.select2-search input

	// Force border-box so that % widths fit the parent
	// container without overlap because of margin/padding.

	// More Info : http://www.quirksmode.org/css/box.html

	box-sizing: border-box

.select2-container.select2-drop-above .select2-choice
		border-bottom-color: #aaa
		border-radius: 0 0 4px 4px

.select2-container.select2-allowclear .select2-choice .select2-chosen
		margin-right: 42px

.select2-container .select2-choice > .select2-chosen
		margin-right: 26px
		display: block
		overflow: hidden

		white-space: nowrap

		text-overflow: ellipsis

.select2-container .select2-choice abbr
		display: none
		width: 12px
		height: 12px
		position: absolute
		right: 24px
		top: 8px

		font-size: 1px
		text-decoration: none

		border: 0
		background: url('select2.png') right top no-repeat
		cursor: pointer
		outline: 0

.select2-container.select2-allowclear .select2-choice abbr
		display: inline-block

.select2-container .select2-choice abbr:hover
		background-position: right -11px
		cursor: pointer

.select2-drop-mask
		border: 0
		margin: 0
		padding: 0
		position: fixed
		left: 0
		top: 0
		min-height: 100%
		min-width: 100%
		height: auto
		width: auto
		opacity: 0
		z-index: 9998
		/* styles required for IE to work */
		background-color: #fff
		filter: alpha(opacity=0)

.select2-drop
	width: 100%
	margin-top: 5px
	position: absolute
	z-index: 9999
	top: 100%

	background: $white
	color: $c-text-base

	border-radius: 5px

	box-shadow: 0 0 5px rgba($b_sh_c_bright, .25)

	&-active

.select2-drop-auto-width
		border-top: 1px solid #aaa
		width: auto

.select2-drop-auto-width .select2-search
		padding-top: 4px

.select2-drop.select2-drop-above
		margin-top: 1px
		border-top: 1px solid #aaa
		border-bottom: 0

		border-radius: 4px 4px 0 0

.select2-drop.select2-drop-above.select2-drop-active
		border-top: 1px solid #5897fb

.select2-container .select2-choice .select2-arrow
		display: inline-block
		width: 18px
		height: 100%
		position: absolute
		right: 0
		top: 0

		border-left: 1px solid #aaa
		border-radius: 0 4px 4px 0

		background-clip: padding-box

		background: #ccc

.select2-container .select2-choice .select2-arrow b
		display: block
		width: 100%
		height: 100%
		background: url('select2.png') no-repeat 0 1px

.select2-search
		display: inline-block
		width: 100%
		min-height: 26px
		margin: 0
		padding-left: 4px
		padding-right: 4px

		position: relative
		z-index: 10000

		white-space: nowrap

.select2-search input
		width: 100%
		height: auto !important
		min-height: 26px
		padding: 4px 20px 4px 5px
		margin: 0

		outline: 0
		font-family: sans-serif
		font-size: 1em

		border: 1px solid #aaa
		border-radius: 0

		background: #fff url('select2.png') no-repeat 100% -22px

.select2-drop.select2-drop-above .select2-search input
		margin-top: 4px

.select2-search input.select2-active
		background: #fff url('select2-spinner.gif') no-repeat 100%

.select2-container-active .select2-choice,
.select2-container-active .select2-choices
		border: 1px solid #5897fb
		outline: none

.select2-dropdown-open .select2-choice
		border-bottom-color: transparent

		border-bottom-left-radius: 0
		border-bottom-right-radius: 0

		background-color: #eee

.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices
	border: 1px solid #5897fb
	border-top-color: transparent

.select2-dropdown-open .select2-choice .select2-arrow
	background: transparent
	border-left: none
	filter: none
.select2-dropdown-open .select2-choice .select2-arrow b
	background-position: -18px 1px

/* results */
.select2-results
	position: relative

	max-height: 196px

	overflow-x: hidden
	overflow-y: auto

	border: $brd_w-input solid $brd_c
	border-radius: 5px

.select2-results ul.select2-result-sub
	margin: 0
	padding-left: 0

.select2-results ul.select2-result-sub > li .select2-result-label
	padding-left: 20px

.select2-results ul.select2-result-sub ul.select2-result-sub > li .select2-result-label
	padding-left: 40px

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label
	padding-left: 60px

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label
	padding-left: 80px

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label
	padding-left: 100px

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label
	padding-left: 110px

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label
	padding-left: 120px

.select2-results li
	font-size: $font-size-sm

.select2-results li.select2-result-with-children > .select2-result-label
	font-weight: bold

.select2-results .select2-no-results,
.select2-results .select2-result-label
	padding: 9px 18px
	margin: 0
	cursor: pointer

	min-height: 38px

	user-select: none

.select2-results li:not(:last-child) > .select2-result-label
	border-bottom: $brd_w-input solid $brd_c

.select2-results .select2-no-results,
.select2-results .select2-highlighted
	background: rgba($brand-primary, .1)

.select2-results li em
	background: #feffde
	font-style: normal

.select2-results .select2-highlighted em
	background: transparent

.select2-results .select2-highlighted ul
	background: $white
	color: $black


.select2-results .select2-searching,
.select2-results .select2-selection-limit
	background: #f4f4f4


// disabled look for disabled choices in the results dropdown

.select2-results .select2-disabled.select2-highlighted
	color: #666
	background: #f4f4f4
	display: list-item
	cursor: default
.select2-results .select2-disabled
	background: #f4f4f4
	display: list-item
	cursor: default

.select2-results .select2-selected
		display: none

.select2-more-results.select2-active
		background: #f4f4f4 url('select2-spinner.gif') no-repeat 100%

.select2-more-results
		background: #f4f4f4
		display: list-item

/* disabled styles */

.select2-container.select2-container-disabled .select2-choice
		background-color: #f4f4f4
		background-image: none
		border: 1px solid #ddd
		cursor: default

.select2-container.select2-container-disabled .select2-choice .select2-arrow
		background-color: #f4f4f4
		background-image: none
		border-left: 0

.select2-container.select2-container-disabled .select2-choice abbr
		display: none


/* multiselect */

.select2-container
	$h-choice:			24px
	$p_horiz-tag:		10px
	$p_horiz-multi:		8px
	$m_l-tag:			8px
	$d-choice-close:	8px
	$m_l-choice-close:	8px

	.select2-search-choice-close
		position: absolute
		right: $p_horiz-tag
		top: 50%

		display: block // tag a

		width: $d-choice-close
		height: $d-choice-close

		margin-top: -( round($d-choice-close/2) - 1px ) // -1px to align the current icon

		outline: none

		// @extend .i-cross-3

		&::after
			position: absolute
			top: 0
			left: 0

			color: $white
			font-size: $d-choice-close

	&.select2-container-multi

		&.select2-container-active

			.select2-choices
				border: $brd_w-input solid $brd_c
				outline: none

		&.select2-container-disabled

			.select2-choices
			
				.select2-search-choice
					
					.select2-search-choice-close
						display: none
						background: none

		.select2-choices
			$p_vert: $p_vert-input - 1px

			height: auto !important
			margin: 0
			border-radius: $brd_rd-input
			padding: $p_vert ($p_horiz-multi - $m_l-tag)
			position: relative

			border: $brd_w-input solid $brd_c
			cursor: text
			overflow: hidden

			background: $bg-input

			.select2-search-field
				margin: 0
				padding: 0
				white-space: nowrap

				&:first-child

					input
						padding-left: $p_horiz-input - ($p_horiz-multi - $m_l-tag)
						padding-right: $p_horiz-input - ($p_horiz-multi - $m_l-tag)
						text-overflow: ellipsis

				input
					$align_vert: 2px

					outline: 0
					border: 0
					padding-bottom: $align_vert
					padding-left: 8px

					background: transparent !important

					color: $c-input
					font-size: $fsz-input
					line-height: $h-input - $brd_w-input * 2 - $p_vert * 2 - $align_vert

			.select2-search-choice
				padding: 0 $m_l-choice-close + $d-choice-close + $p_horiz-tag 0 $p_horiz-tag
				margin: 3px 0 3px $m_l-tag
				position: relative

				line-height: $h-choice
				color: $white
				cursor: default

				border-radius: ($h-choice/2)

				touch-callout: none
				user-select: none

				background-color: $brand-primary

				font-size: $font-size-sm

				.select2-chosen
					cursor: default

				.select2-search-choice-close

					&:hover

				& &-focus

					.select2-search-choice-close
						background-color: blue

		.select2-search-choice-close

.select2-locked
	padding: 3px 5px 3px 5px !important

.select2-container-multi .select2-choices li
		float: left
		list-style: none

.select2-container-multi .select2-choices .select2-search-field input.select2-active
		background: #fff url('select2-spinner.gif') no-repeat 100% !important

.select2-default
		color: #999 !important


.select2-container-multi .select2-choices .select2-search-choice-focus
		background: #d4d4d4

/* disabled styles */
.select2-container-multi.select2-container-disabled .select2-choices
		background-color: #f4f4f4
		background-image: none
		border: 1px solid #ddd
		cursor: default

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice
		padding: 3px 5px 3px 5px
		border: 1px solid #ddd
		background-image: none
		background-color: #f4f4f4
/* end multiselect */


.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-match
		text-decoration: underline

.select2-offscreen, .select2-offscreen:focus
		clip: rect(0 0 0 0) !important
		width: 1px !important
		height: 1px !important
		border: 0 !important
		margin: 0 !important
		padding: 0 !important
		overflow: hidden !important
		position: absolute !important
		outline: 0 !important
		left: 0px !important
		top: 0px !important

.select2-display-none
		display: none

.select2-measure-scrollbar
		position: absolute
		top: -10000px
		left: -10000px
		width: 100px
		height: 100px
		overflow: scroll