.i-document,
.i-rocket,
.i-code,
.i-dowload

	+font-sprite

.i-document

	&::after
		content: '\e900'

.i-rocket

	&::after
		content: '\e901'

.i-code

	&::after
		content: '\e902'

.i-dowload

	&::after
		content: '\e903'