mixin b-nav( active )

	.b-nav

		.b-nav__inner

			a.b-nav__title( href="index.html" )
				.b-nav__title-text C
				.b-nav__title-subtext  Dev


				-
					var nav = [
						{
							className: 'document',
							link: 'index.html'
						},
						{
							className: 'rocket',
							link: '#!'
						},
						{
							className: 'code',
							link: '#!'
						},
						{
							className: 'download',
							link: 'download.html'
						}
					]

			if nav

				.b-nav__nav

					- var number = 1

					each item in nav

						.b-nav__nav-item(
							class=( active == item.className ? "b-nav__nav-item_active" : undefined )
							class=( nav.length == number ? "b-nav__nav-item_last" : undefined ) )
							a.b-nav__link(
								class=( item.className ? 'b-nav__link_' + item.className : undefined ) href=( item.link ? item.link : undefined ) )

						- number++